/*
all the css for blog post
*/


.container
{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: stretch; 
    border: 2px solid gray;
    font-family: 'Courier New', Courier, monospace;
}



#titlebg
{
    text-align: center;
    font-style: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer
{
    background-color: bisque;
    border: 2px solid gray;
    text-align: center;
}

.content
{
    text-align: center;
    font-style: bold;  
    font-family: Georgia, 'Times New Roman', Times, serif;
}




.para
{
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 18px;
    line-height: 24px; 
    text-align: center;
}

.author-info
{
  margin-left: 20%;
  background-color: azure;
  text-align: center;
  width: 200px;
}

.image
{
    width: 90%;
    max-width: 1000px;
}